body{
  font-family:"Arial", Serif;
  overflow-x:hidden;
}
section{
background: url(img/theme4.jpg);
    height: 90.1%;
	position: relative;
	width: 100%;
	background-size: cover;
	display: table;
	overflow: hidden;
	margin-top: -20px;
  border: 0;
}
.navbar{
	background: url(img/theme4.jpg);
	padding: 1% 0;
	font-size: 1.2em;
  border: 0;
}
.navbar-brand{
	min-height: 5px;
	padding: 0 55px 15px 5px;
	margin-top: -80px;
}
.navbar-default .navbar-nav li a {
	color: #D5D5D5;
}
.navbar-default .navbar-nav li a:hover,  .navbar-default .navbar-nav li a.active{
	color: #fff;
}
.title22{
  color: #fff;
  padding: 20px;
  font-size: 35px;
  background-color: transparent;
}
#main22{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
  background-color: transparent;
}
#main12{
  background-color: transparent;
  display: table;
  position: fixed;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  padding-top: 20%;
}
.text{
	color: #ad1860;
	text-align: center;
	font-size: 18px;
}
.text1{
 color: #dbc718;
}
.text2{
color: #16cc3d;
}
.text3{
color: #0d1dd8;
}
#myDIV {
    width: 80%;
    text-align: center;
    margin-top: 0px;
    display:none;
  position:fixed;
  height: 87%;
  z-index:1;
  top:0;
  left:0;
  background-color:#ccc;
  opacity:0.91;
  overflow-x:hidden;
  padding-top:40px;
  transition:0.5s;
  color:#000;
  font-size: 19px;
  padding-right: 10%;
  padding-left: 10%;
  font-family:"Arial", Serif;
}
.button{
left: 40px;
bottom:10%;
position: fixed;
color: #fff;
text-underline-position: none;
font-size: 15px;
}
.button1{
right: 40px;
bottom:10%;
position: fixed;
color: #fff;
text-underline-position: none;
font-size: 15px;
}
